{% extends "header.html" %}
{% load static %}
{% block content %}
<div class="cta-banner"> 
  <div class="container py-5">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 pb-4">
        <h1 class="display-4 font-weight-bold">Elevate your listening</h1>
        <h5>Everyday headphones that make your favorite artists sound like their performing a never-ending encore.</h5>
        {% if user.is_authenticated %}
          <a class="btn btn-primary mt-2" href="{% url 'userpage' %}">VIEW WISHLIST</a>
        {% else %}
          <a class="btn btn-primary mt-2" href="{% url 'product' %}">FIND YOUR SET</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<style>
  .cta-banner {
      background-image:
      /* The image fade to white */
      linear-gradient( to left, rgba(0,0,0,0) 10%, #fff 85%),
      /* The image used */
      url("{% static 'image/cta-headphones.jpg' %}");
      /* Set a specific height */
     height:400px;
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: auto;
      position: relative;
  }
</style>

          <div class="container pt-5">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-12 pb-4">
                <h5 class="text-primary">New + updated</h5>
                <hr>
                {% for n in article %}
                  <a class="text-dark" href="{{ n.article_slug }}">
                    <h3>{{ n.article_title }}</h3>
                    <p class="text-muted" style="font-size:12px">{{ n.article_published }}</p>  
                  </a> 
                  <hr>   
                {% endfor %}
              </div>
              
              <div class="col-lg-7 col-md-7 col-sm-12 pb-4">
                <a class="text-dark" href="/{{ new_article.article_slug }}" style="text-decoration: none">
                  <img src="{{ new_article.article_image.url }}" class="card-img-top" alt="{{new_article.article_name }}">            
                  <div class="card-body">
                    <h3 class="card-title">{{ new_article.article_title }}</h3>
                    <p class="card-text text-muted" style="font-size:12px">{{ new_article.article_published }}</p>
                    <p class="card-text">{{ new_article.atricle_content|safe|truncatewords:50}}</p>
                    <button class="btn btn-primary btn-sm">Read more</button>
                  </div> 
                </a>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-12 pb-4">
                <h5 class="text-primary">Featured</h5>
                <hr>
                {% for f in tags %}
                  <a class="text-dark" href="/{{ f.article_slug }}">
                    <img src="{{ f.article_image.url }}" class="card-img-top" alt="{{f.article_name }}">  
                    <h6>{{ f.article_title }}</h6>
                    <p class="text-muted" style="font-size:12px">{{ f.article_published }}</p>  
                  </a> 
                  
                </hr>   
                {% endfor %}
              </div>
            </div>
          </div>

         
            
          
<!--Products-->
<div class="container py-3">
  <h2>Products</h2>
  <hr>
  <br>
  <div class="row">
    {% for p in product %}
      <div class="col-sm-12 col-md-6 col-lg-3 pb-4">
          <div class="card h-100" style="border:none">
          <img src="{{ p.image.url }}" class="card-img-top" alt="{{ p.product_name }}" style="width: auto; height: 250px; object-fit: scale-down;">
          <div class="card-body">
            <h5 class="card-title">{{ p.product_name }}</h5>
              <p class="card-text text-muted" style="font-size:12px">{{ p.product_type }}</p>
              <p class="card-text">{{ p.product_description }}</p>
              <div class="row">
              <div class="col-6">
                  
              </div>
              <div class="col-6">
                  <a href="{{ p.affiliate_url }}" class="btn btn-warning">Buy now</a>	
              </div>
            </div>
            </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="container text-right">
    <a href="/blog/articles">View more</a>
  </div>
</div>

<!--Blog-->
<div class="container py-3">
  <h2>Recent Posts</h2>
  <hr>
  <br>
  <div class="row">
    {% for n in new_posts %}

    {% endfor %}
  </div>
  <div class="container text-right">
     <a href="/blog/articles">View more</a>
  </div>
</div>

{% endblock content %}