{% extends "header.html" %}
{% block content %}
<!--Products-->
<!--Products-->
<div class="container py-5">
    <h1 class="font-weight-bold">Products</h1>
    <hr>
    <br>
    <div class="row">
         {% for p in page_obj %}          
            <div class="col-sm-12 col-md-6 col-lg-4 pb-4">
                <div class="card h-100" style="border:none">
                    <img src="{{ p.image.url }}" class="card-img-top" alt="{{ p.product_name }}" style="width: auto; height: 200px; object-fit: scale-down;">
                    <div class="card-body">
                        <h5 class="card-title">{{ p.product_name }}</h5>
                        <p class="card-text text-muted" style="font-size:12px">{{ p.product_type }}</p>
                        <p class="card-text">{{ p.product_description }}</p>
                        <p class="card-text">{{p.product_price}}$</p>
                        <div class="row">
                            <div class="col-3 text-center">
                                {% if user.is_authenticated %}
                                    <form method="post">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{p.pk}}" name="product_pk">
                                        <button type="submit" class="btn btn-outline-primary" style="font-size:18px; border-radius: 50%">★</button>
                                    </form>
                                {% else %}
                                    <a href="{% url 'register' %}" class="btn btn-outline-primary" style="font-size:18px; border-radius: 50%">★</a>
                                {% endif %}
                            </div>
                            <div class="col-4 text-center">
                                
                            </div>
                            <div class="col-5 text-center">
                                <a href="{{ p.affiliate_url }}" class="btn btn-warning">Buy now</a>                              
                            </div>
                        </div> 
                    </div>
                </div> 
            </div>
        {% endfor %}
    </div>
    <div class="container">
        <div class="pagination justify-content-center">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a class="margen" href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock %}